@mixin for-desktop {
    @media (min-width: 550px) {
      @content  
    }
}

body{
    background: linear-gradient(
   to right, rgb(210, 230, 236), white);
    color: rgb(6, 6, 85);
}
header, footer{
    text-align: center;
}
h1, h2, h3{
    font-family: "Libre Baskerville", Times, serif;
    font-weight: lighter;
}
p, li,a{
    font-family: "Lato", Arial, sans-serif;
    font-weight: bold;
}
main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @include for-desktop {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        
    }
}
article{
    width: 250px;
    border: 2px solid rgb(6, 6, 85);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
   @include for-desktop{
       border: none;
   }
}

.bild1{
    width: 200px;  
}

.bild2{
    width: 200px;
  
}

li{
    margin-bottom: 5px;
}

.links{
  display: flex;  
  flex-direction: column;
  @include for-desktop{
      flex-direction: row;
      justify-content: space-evenly;
  }
}
a{
    text-decoration: none;
    margin-bottom: 5px;
}
a:visited{
    color:rgb(6, 6, 85) ;
}